.card {
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #E8E8E8;
    font-size: 7vw;
}

h3 {
    color: #E8E8E8;
    font-size: 3vw;
}

.carousel-inner img {
    max-height: 400px;
    max-width: 700px;
    margin: auto;
}

body {
    background-color: white;
}

.container .row .col h3 {
    position: absolute;
    padding-top: 70px; 
    margin-right: 15px;
    bottom: 0;
    right: 0;
}
